<%# The search-result page is the output of what the user searches on the search page, it is linked to the database. %>
<%# The for loop searches the datbase using the node according to the data inserted. %>
<%# In addition, the node searches through the database and displays the output of the results according to the data inserted. %>
<%# If the data isn't found, no post would be displayed in the results. %>
<!doctype html>
<html>
  <head>
    
    <title>About <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=forumName%></h1>
  <table>
    <tr><th>Date</th><th>Topic</th><th>Title</th><th>Content</th></tr>
    <% Posts.forEach(function(post) { %>
  <tr>
     <td><%= Posts.post_date.toDateString() %> <%= Posts.post_date.getHours() %>:<%= Posts.post_date.getMinutes() %></td>
     <td><%= Posts.topic_title %></td>
     <td><%= Posts.post_title %></td>
     <td><%= Posts.post_content %></td>
  <tr> 
     <% }) %>
  </table>
  </body>
  <form>
  <div><div>
    
  <input type="button" value="Go back" onclick="history.back()" />
    
  </form>
</html>
