<%# The topics info page displays all the users that have created posts according to different topics. %>
<!doctype html>
<html>
  
  <head>
    
    <title><%=forumName%> - Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h2>View posts</h2>
  <table>
  <tr><th>Topic Title</th><th>Description</th><th>User</th></tr>
    <% topics.forEach(function(topic) { %>
  <tr>
    <td><%= topics.topic_title %></td>
    <td><%= topics.topic_description %></td>
    <td><%= topics.username %></td>
  </tr>
    <% }) %>   
  </table>   
  </body>
  <form>
  <div></div>
    
  <input type="button" value="Go back" onclick="history.back()" />
  
 </form>
</html>
