<%# The user info page displays all the details of every user, including whether they have posts. %>
<!doctype html>
<html>
  <head>
  
    <title><%=forumName%> - Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%</h1>
    <h2>View posts</h2>
  <table>
  <tr><th>Username</th><th>First Name</th><th>Surname</th><th>Country</th><th>Topic</th></tr>
    <% users.forEach(function(user) { %>
  <tr>
    <td><%= users.username %></td>
    <td><%= users.firstname %></td>
    <td><%= users.surname %></td>
    <td><%= users.country %></td>
    <td><%= users.topic_title %></td>
  </tr>
    <% }) %>   
  </table>   
  </body>
  <form>
  <div></div>
    
  <input type="button" value="Go back" onclick="history.back()" />
  
 </form>
</html>
