<%# The view posts ejs shows all the posts that have been added. %>
<%# Information sucb as when the post was added, the topic, the name of the post, the content and which user posted, is displayed. %>
<!doctype html>
<html>
  
  <head>
    
    <title><%=forumName%> - Posts</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h2>View posts</h2>
  <table>
  <tr><th>Date</th><th>Topic</th><th>Title</th><th>Content</th><th>User</th></tr>
    <% Posts.forEach(function(post) { %>
  <tr>
  <td><%= Posts.post_date.toDateString() %> <%= Posts.post_date.getHours() %>:<%= Posts.post_date.getMinutes() %></td>
    <td><%= Posts.topic_title %></td>
    <td><%= Posts.post_title %></td>
    <td><%= Posts.post_content %></td>
    <td><%= Posts.username %></td>
  </tr>
    <% }) %>    
  </table>   
  </body>
  <form>
  <div><div>
    
    <input type="button" value="Go back" onclick="history.back()" />
  
  </form>
</html>
